<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs") %>
        <title>Fashion Factory</title>
        <meta name="keywords"
            content="adidasi, haine, fashion,designer, trending, livrare, magazin, FashionFactory, Nike, Supreme, Armani, Evisu, Off-White, Bucuresti ">
        <meta name="description"
            content="Avem haine de toate tipurile, de la branduri des intalnite precum nike, adidas pana la branduri de lux precum LV, Armani, Maison Margiela, livram in toata tara.">

</head>


<body>
    <%- include("../fragmente/header.ejs") %>



        <main>
            
            <div id="grid-pagina">
                <div id="welcome">
                    <div class="left">
                        <img src="./resurse/imagine/sneaker_image.png" alt="imagine 1">


                    </div>
                    <div class="left">
                        <p class="intro1">

                            <!--<button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>-->
                            <p><a href="#promotii">Promotii</a></p>
                        Bine ai venit la <b><em>Fashion Factory</em></b>, destinația ta de încredere pentru <b>moda</b>
                        contemporană și cele mai recente <b>tendințe</b> în industria <b>hainelor</b>! Cu sediul nostru
                        în
                        <b>București</b>, suntem mândri să aducem la dispoziția ta cele mai exclusiviste <b>branduri</b>
                        și
                        colecții, inclusiv <b>Nike</b>, <b><i>Supreme</i></b>, <b><i>Christian Louboutin</i></b>,
                        <b><i>Evisu</i></b>,<b><i>Off-White</i></b> și multe alte <b>branduri</b>.
                        </p>
                    </div>
                    <div class="left">
                        <img src="./resurse/imagine/clothes_image.jpg" alt="imagine 2">
                    </div>
                    <div class="right">
                        <p class="intro2">
                            La <b><i>Fashion Factory</i></b>, ne pasionăm să aducem clienților noștri cele mai recente
                            și
                            inovatoare piese <b>vestimentare</b>. De la <b>adidași</b> și <b>haine</b> de
                            <b><i>designer</i></b>, până la <b>accesorii</b> de <b>modă</b> și articole care sunt în
                            <b>tendință</b>, avem tot ce ai nevoie pentru a-ți exprima <b>stilul</b> personal. Fashion
                            Factory
                            este mai mult decât un <b>magazin</b> de <b>haine</b> - este o comunitate dedicată
                            pasionaților
                            de
                            <b>modă</b> și de <b>stil</b>. Ne dorim să fim sursa ta de <b>inspirație</b> și să-ți oferim
                            cele
                            mai bune produse pentru a-ți completa <b>garderoba</b>.
                        </p>
                    </div>

                    <div class="left">
                        <img src="./resurse/imagine/poza_download.jpg" alt="imagine 3">
                    </div>
                    <div class="right">
                        <p class="intro3">
                            Oferim <b>livrare</b> rapidă în toată țara, astfel încât să poți avea acces la cele mai
                            recente
                            colecții și să le integrezi în <b>garderoba</b> ta în cel mai scurt timp posibil. Cu un
                            simplu
                            click, poți avea acces la cele mai noi <b>modele</b> și la cele mai căutate
                            <b>branduri</b>,
                            fără a
                            fi nevoie să părăsești confortul casei tale.
                        </p>
                    </div>
                </div>
                <section id="promotii">
                    <h2>Oferte speciale Fashion Factory</h2>
                    <article>
                        <h3 class="titlu">Reduceri de primăvară</h3>
                        <p><b>Magazinul Fashion Factory</b> vă aduce reduceri de <s>10%</s> <ins
                                datetime="2024-03-19">15%</ins> la toate articolele de îmbrăcăminte din noua colecție
                            pentru
                            sezonul primăvară-vară.</p>
                        <p>Oferta este valabilă doar în perioada 10-14, în magazinele noastre.</p>
                        <p>Și nu uitați, pentru fiecare achiziție de peste zece articole, primiți și un card de
                            fidelitate
                            pentru mai multe beneficii!</p>
                    </article>
                    <article>
                        <h3>Pachet special Fashion</h3>
                        <p>Fashion Factory vă propune pachete ce includ:</p>
                        <ol>
                            <li>O bluză trendy</li>
                            <li>O pereche de blugi slim fit</li>
                            <li>Un pulover confortabil</li>
                            <li>Un șal în tendințele sezonului</li>
                            <li>Gratuit: o geantă din colecția exclusivă Fashion Factory</li>
                            <li>Gratuit: o eșarfă în culorile modei actuale</li>
                            <li>Gratuit: un set de bijuterii asortate</li>
                        </ol>
                    </article>
                    <article>
                        <h3 class="titlu bcd">Promoție specială Fashion</h3>
                        <p>Descoperiți noile trenduri în modă cu Fashion Factory! Ocazia perfectă să vă revigorați
                            garderoba!</p>
                        <ol>
                            <li>Descoperiți cele mai noi modele de rochii și fuste.</li>
                            <li>Explorați varietatea de pantaloni și colanți pentru orice ocazie.</li>
                            <li>Alegeți dintr-o gamă largă de accesorii pentru a completa ținutele.</li>
                            <li>Experimentați cu diferite stiluri și culori pentru a vă exprima personalitatea.</li>
                        </ol>
                    </article>
                    <article>
                        <h3>Promovare specială Fashion</h3>
                        <p>Investește în stilul tău personal cu Fashion Factory! Descoperă cele mai recente tendințe în
                            modă
                            și completează-ți colecția cu piese esențiale pentru garderoba ta.</p>
                        <ol>
                            <li>Alege dintr-o selecție variată de articole vestimentare și accesorii.</li>
                            <li>Profită de reducerile speciale pentru a-ți actualiza garderoba la prețuri avantajoase.
                            </li>
                            <li>Stabilește-ți propriul stil și fii în pas cu moda.</li>
                            <li>Beneficiază de sfaturi de stil de la experții noștri în modă pentru a-ți completa
                                ținutele
                                în mod creativ și original.</li>
                        </ol>
                    </article>

                    <div id="reflexie">
                        <div id="text-reflectat1">
                            Super-Adidasi!
                        </div>
                        <div id="text-reflectat2">
                            Super-Adidasi!
                        </div>
                      </div>

                </section>


                <section id="marimi">
                    <h2>Tabel marimi</h2>
                    <table id="tab-marimi">
                        <caption>Tabelul de mărimi pentru încălțăminte</caption>
                        <thead>

                            <tr>
                                <th>US</th>
                                <th>UK</th>
                                <th>EU</th>
                                <th>CM</th>
                                <th>IN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>4</td>
                                <td>3</td>
                                <td>37</td>
                                <td>22,9</td>
                                <td>9</td>

                            </tr>
                            <tr>

                                <td>4,5</td>
                                <td>3,5</td>
                                <td>37-38</td>
                                <td>23,3</td>
                                <td>9 1/4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>4</td>
                                <td>38</td>
                                <td>23.8</td>
                                <td>9 3/8</td>
                            </tr>
                            <tr>
                                <td>5,5</td>
                                <td>4,5</td>
                                <td>38-39</td>
                                <td>24,1</td>
                                <td>9 1/2</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>5</td>
                                <td>39</td>
                                <td>24,8</td>
                                <td>9 3/4</td>
                            </tr>
                            <tr>
                                <td>6,5</td>
                                <td>5,5</td>
                                <td>39-40</td>
                                <td>25,1</td>
                                <td>9 7/8</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>6</td>
                                <td>40</td>
                                <td>25,4</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>7,5</td>
                                <td>6,5</td>
                                <td>41</td>
                                <td>25,8</td>
                                <td>10 1/8</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>7</td>
                                <td>41-42</td>
                                <td>26</td>
                                <td>10 1/4</td>
                            </tr>
                            <tr>
                                <td>8,5</td>
                                <td>7,5</td>
                                <td>42</td>
                                <td>26,7</td>
                                <td>10 1/2</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>8</td>
                                <td>43</td>
                                <td>27,3</td>
                                <td>10 1/2</td>
                            </tr>
                            <tr>
                                <td>9,5</td>
                                <td>8,5</td>
                                <td>43-44</td>
                                <td>27,7</td>
                                <td>10 3/4</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>9</td>
                                <td>44</td>
                                <td>27,9</td>
                                <td>10 7/8</td>
                            </tr>
                            <tr>
                                <td>10,5</td>
                                <td>9,5</td>
                                <td>44-45</td>
                                <td>28,6</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>10</td>
                                <td>45</td>
                                <td>29,2</td>
                                <td>11 1/4</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">Tabelul de marimi poate avea erori minore.</td>
                            </tr>
                        </tfoot>
                    </table>
                </section>

                <section id="haine">
                    <h2>Colecția noastră</h2>
                    <p>Vă prezentăm o gamă variată de produse pentru a vă exprima stilul și personalitatea.</p>
                    <section>
                        <h3>Haine</h3>
                        <p>Descoperiți cele mai recente tendințe în modă cu colecția noastră de haine de înaltă
                            calitate,
                            perfecte pentru a vă completa garderoba.</p>
                        <p>Oferim o varietate de haine, inclusiv:</p>
                        <ul>
                            <li>Rochii elegante</li>
                            <li>Pantaloni și fuste trendy</li>
                            <li>Bluze și cămăși în stiluri diverse</li>
                            <li>Șaluri și fulare în culori vibrante</li>
                            <li>Jachete și paltoane pentru orice sezon</li>
                            <li>Compleuri pentru evenimente speciale</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Accesorii</h3>
                        <p>Completează-ți ținuta cu accesorii chic care să-ți evidențieze stilul și să-ți ofere un
                            aspect
                            distinctiv.</p>
                        <p>Oferim accesorii precum:</p>
                        <ul>
                            <li>Pălării și căciuli în tendințele sezonului</li>
                            <li>Pălarii și curele din piele de înaltă calitate</li>
                            <li>Genți și poșete în diverse stiluri și culori</li>
                            <li>Șosete și ciorapi pentru un plus de confort</li>
                            <li>Brățări, cercei și coliere pentru a completa ținutele</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Încălțăminte</h3>
                        <p>Găsiți perechea perfectă de încălțăminte care să completeze ținutele dvs. și să vă ofere
                            confortul de care aveți nevoie în fiecare zi.</p>
                        <p>Oferim o gamă largă de încălțăminte, inclusiv:</p>
                        <ul>
                            <li>Ghete și cizme pentru sezonul rece</li>
                            <li>Papuci și sandale pentru sezonul cald</li>
                            <li>Pantofi eleganți pentru evenimente speciale</li>
                            <li>Adidași și pantofi sport pentru activități în aer liber</li>
                            <li>Pantofi casual pentru un look relaxat și confortabil</li>
                        </ul>
                    </section>
                    <section>
                        <video id="video-vtt" controls poster="./resurse/imagine/imagine2.jpg" preload="none"
                            width="100%" min-width="300px" max-width="800px">
                            <source src="./resurse/imagine/video.mp4" type="video/mp4">
                            <source src="./resurse/imagine/video.webm" type="video/webm">
                            <track kind="subtitles" src="./resurse/vtt/video-ro.vtt" srclang="ro" label="Română"
                                default>
                            <track kind="subtitles" src="./resurse/vtt/video-eng.vtt" srclang="en" label="Engleză">
                            Your browser does not support the video tag.
                        </video>

                    </section>
                </section>


                <section id="imagine">
                    <figure>
                        <picture>
                            <source srcset="./resurse/imagine/imagine2.jpeg" media="(max-width:700px)" />
                            <source srcset="./resurse/imagine/imagine3.jpeg" media="(max-width:1200px)" />
                            <img src="./resurse/imagine/imagine1.jpeg" alt="Imagine Principala" title="Clothing Store">
                        </picture>
                    </figure>
                </section>




                <section id="videoclipuri">
                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/SiVtoUx208I?si=-i8G3Zmvzy8SZ29P"
                                target="ifr-video">Sneaker
                                Shopping Marcus Rashford</a>
                            <a href="https://www.youtube.com/embed/Gcu-BobS1-8?si=ZjXWSogt2PO_9-HS" target="ifr-video">
                                Shopping spree Azteca</a>
                            <a href="https://www.youtube.com/embed/dKjFYjY2CRc?si=kG032QUhclck5UUD"
                                target="ifr-video">Sneaker
                                Shopping Abi</a>
                        </div>

                        <iframe name="ifr-video" width="560" height="320"
                            src="https://www.youtube.com/embed/SiVtoUx208I?si=-i8G3Zmvzy8SZ29P"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                        </iframe>
                    </div>
                </section>


                <section id="anunturi">
                    <div class="text-coloane">
                        <p>La <b>Fashion Factory</b>, fiecare comandă plasată te aduce mai aproape de premii extraordinare!
                            Participi automat la tombolele noastre săptămânale, unde poți câștiga vouchere de
                            cumpărături, pachete cadou cu articole de modă și multe alte surprize. Cu fiecare achiziție,
                            ai șansa să câștigi și să te bucuri de avantajele Fashion Factory!
                            Știm cât de important este pentru tine să primești produsele de modă preferate rapid și în
                            condiții perfecte. De aceea, ne asigurăm că toate comenzile sunt procesate prompt și livrate
                            direct la ușa ta, în cele mai bune condiții.</p>
                    </div>
                </section>



                <section id="intrebari">
                    <h2>Intrebari Frecvente </h2>
                    <details>
                        <summary>Care sunt metodele de plată acceptate de Fashion Factory?</summary>
                        <p>Fashion Factory acceptă plata cu cardul bancar (VISA, Mastercard), PayPal și plata la livrare
                            în
                            numerar.</p>
                    </details>
                    <details>
                        <summary>Care sunt termenii și condițiile de returnare a produselor achiziționate de la Fashion
                            Factory?</summary>
                        <p>La Fashion Factory, clienții beneficiază de o perioadă de returnare de 14 zile de la primirea
                            comenzii. Produsele trebuie să fie în <b>stare perfectă</b> și să aibă <b>etichetele
                                originale
                                atașate</b>.</p>
                    </details>
                    <details>
                        <summary>Cum pot verifica starea comenzii mele?</summary>
                        <p>Pentru a verifica starea comenzii tale, poți accesa secțiunea <b>"Contul Meu"</b> și apoi
                            <b>"Comenzile Mele"</b>. Acolo vei găsi informații actualizate despre statusul comenzii
                            tale.
                        </p>
                    </details>
                    <details>
                        <summary>Care este politica de livrare a Fashion Factory? </summary>
                        <p>Fashion Factory oferă livrare rapidă în toată țara. Timpul de livrare standard este de 2-3
                            zile
                            lucrătoare. Costul livrării poate varia în funcție de destinație și greutatea coletului.</p>
                    </details>
                    <details>
                        <summary>Ce mărci și designeri sunt disponibili la Fashion Factory?</summary>
                        <p>Fashion Factory oferă o gamă largă de branduri și designeri de top, printre care se numără
                            Nike,
                            Supreme, Armani, Evisu, Off-White și multe altele.</p>
                    </details>
                    <details>
                        <summary>Ce fac dacă întâmpin probleme sau întrebări care nu sunt acoperite aici?</summary>
                        <p> Dacă ai întrebări sau întâmpini probleme care nu sunt acoperite în această secțiune, te
                            încurajăm să ne contactezi folosind formularul de contact de pe site-ul nostru sau prin
                            email la
                            adresa noastră de suport clienți. Echipa noastră este întotdeauna disponibilă pentru a te
                            ajuta
                            cu orice ai nevoie!</p>
                    </details>
                </section>

                <section id="galerie-statica">
                    <h2>Galerie</h2>
                    <div id="grid-galerie">
                        <% for (let imag of locals.imagini) { %>
                            <figure>
                                <picture>
                                    <source srcset="<%= imag.fisier_mediu %>" media="(max-width: 1200px)" />
                                    <img src="<%= imag.fisier %>" alt="a">
                                </picture>

                                <figcaption>
                                    <%= imag.descriere %>
                                </figcaption>
                            </figure>
                            <% } %>
                    </div>
                </section>

            </div>
 
        </main>

        <%- include("../fragmente/footer.ejs") %>
</body>



</html>